{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
<div class="main-container">
    <h1>Tracker Details</h1>
        <div class="goal-text">Goal: {{tracker.goal }}</div>
            
        <div class="action-container">   
            <div class="button-links">
                <a href="{% url 'edit-tracker' tracker.pk %}">Edit Tracker</a>
            </div>
            <div class="button-links">
                <a href="{% url 'delete-tracker' tracker.pk %}">Delete Tracker</a>
            </div>
            <div class="button-links">
                <a href="{% url 'user-info' user.pk %}">Home</a>
            </div>
        </div>
        <div class="middle-container">
            <div>
                <h3>Did You Meet Your Goal Today?</h3>
                <div class="button-links">
                    <a href="{% url 'add-goal-met-data' tracker.pk %}">Make Submission</a>
                </div>  
            </div>
            <div>
                <h3>Average goal met/not met</h3>
                {% if true_occurences|div:false_occurences >= 0.5 %}
                <h3 class="good-average">{{ true_occurences|div:false_occurences }}</h3>
                {% else %}
                <h3 class="bad-average">{{ true_occurences|div:false_occurences }}</h3>
                {% endif %}
            </div>
        </div> 
    <div class="record-container">
        {% for record in tracker.tracker_record.all %}
        <table class="primary">
            <thead>
                <tr>
                    <th>Date:</th>
                    <th>{{ record.date }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>Record Number:</td>
                    <td>{{ record.record_number }}</td>
                        
                </tr>
                <tr>
                    <td>Goal Met:</td>
                    <td>{% if record.goal_met == True %}
                            <div class="true">Yes</div>
                        {% else %}
                            <div class="false">No</div>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="edit-record-link"><a href="{% url 'edit-submission' record.pk %}">Edit</a></td>
                    <td class="delete-record-link"><a href="{% url 'delete-submission' record.pk %}">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <br>
        {% endfor %}
    </div>
</div>
{% endblock %}

