{% extends 'base.html' %}
{% block content %}
<h2>Tracker Details</h2>
    <div>Goal: {{tracker.goal }}</div>
    <br>
    <div class="button-links">
        <a href="{% url 'edit-tracker' tracker.pk %}">Edit Tracker</a>
    </div>
    <div class="button-links">
        <a href="{% url 'delete-tracker' tracker.pk %}">Delete Tracker</a>
    </div>
    <br>
    <h4>Did You Meet Your Goal Today?</h4>
    <div class="button-links">
        <a href="{% url 'add-goal-met-data' tracker.pk %}">Make Submission</a>
    </div>  
        <br>
        {% for record in tracker.tracker_record.all %}
        <table class="primary">
            <thead>
                <tr>
                    <th>Tracker Record</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>{{ record.date }}</td>
                </tr>
                <tr>
                    <td>Goal Met?</td>
                    <td>{{ record.goal_met }}</td>
                        {% if record.goal_met == True %}
                        {% else %}

                </tr>
                <tr>
                    <td><a href="{% url 'delete-submission' record.pk %}">Delete Record</a></td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
{% endblock %}
