{% extends 'base.html' %}
{% block content %}
<h2>Your Trackers</h2>
<div class="list-container">
{% for tracker in trackers %}
<div class="individual-container">
<div class="tracker-list"><a href="{% url 'tracker-detail' tracker.pk %}">{{ tracker.goal }}</a></div>
<div class="created-at">Est. {{ tracker.created_at }}</div>
</div>
{% endfor %}
</div>
<br>
<div class="button-links">
    <a href="{% url 'create-tracker' user.pk %}">Add Tracker</a>
</div>
<br>
<br>

<h2>Profile</h2>
<div class="profile-info">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Birthday: {{ profile.birthdate }}</p> 
    <p>Postal Code: {{ profile.postcode }}</p>
    <p>Occupation: {{ profile.occupation }}</p>
</div>
<div class="button-links">
    <a href="{% url 'profile-add' user.pk %}">Add Profile Details</a>
</div>





{% endblock %}