@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Nunito+Sans:wght@300;600&family=Poppins:wght@100;200;300;400&family=Raleway:wght@100;300;400;600&family=Roboto+Mono:wght@500&family=Rubik:wght@300;400;600&family=Source+Sans+Pro:wght@200;400;600&display=swap');
* {
    font-family: poppins; 
    margin: 10px;
}

.false {
    border: 1px solid red;
    background-color: red;
    color: white;
    text-align: center;
   
}

.true {
    border: 1px solid green;
    background-color: green;
    color: white;
    text-align: center;   
}

.primary {  
    border-bottom: 1px solid black;
    text-align: center;
    border-radius: 0.5em;
}

.primary th {
    background-color: grey;
}

.button-links {
    border: 2px solid black;
    width: 350px;
    margin: 0 auto; 
    text-align: center;
    border-radius: 0.5em;
    padding: 10px; 

}

a:link {
    color: black;
    text-decoration: none; 
}

a:visited {
    color: black;
    text-decoration: none; 
}

.goal-text {
    border: 2px solid black;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
}

.myCoolButton {
    background-color: black;
    color: white;
    width: 400px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 0.5em;
}
.tracker-list {
    font-size: 24px;
}
.created-at {
    color: green;
    font-size: 20px;
    padding-right: 15px;
}
.individual-container {
    display: flex; 
    justify-content: space-between;
    width: 1000px;
    border: 2px solid black;
    border-radius: 0.5em;
    margin: auto;
    padding: 10px; 
   
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.record-container {
    display: flex;
    flex-wrap: wrap;
}

.action-container {
    display: flex;
    align-items: center;
}

.middle-container {
    display: flex;
    justify-content:space-evenly
}

h2 {
    text-align: center;
    margin: 0 auto;
    
}

.home-link {
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5em;
}

.good-average {
    color: white;
    background-color: green;
    width: 350px;
    
    text-align: center;
    border-radius: 0.5em;
    font-size: 12px;
}

.bad-average {
    color: white;
    background-color: red;
    width: 350px;
    
    text-align: center;
    border-radius: 0.5em;
    font-size: 12px;
}

.profile-box {
    display: flex;
    justify-content: center;
}
.profile-info {
    font-size: 24px;
    border: 2px solid black;
    width: 1000px; 
    text-align: center;
}

.followers {
    font-size: 24px;
    color: purple;
    text-align: center; 
}